.goal-item {
  margin: 0.45em;
}

.org-logo {
    margin: 1em;
}

#row-logos a{
    width: 20%;
    margin: 0.8em;
}

.panel {
    padding-left: 1em;
}

.goal-item:hover, .org-logo:hover {
  transform: scale(1.2);
}

.panel-saturate  {
    filter: saturate(1.9);
}

.panel-saturate .goal-item {
  filter: saturate(0.6);
}

.image-border {
  box-shadow: 0px 0px 0px 4px white;
}

